{{> menu}}
<hr>
<h2>Cart {{cart._id}}</h2>

<ul>
    {{#each cart.products}}
        <li>
            {{this.productId.description}} - Price: {{this.productId.price}} - quantity: {{this.quantity}}
        </li>
    {{/each}}
</ul>

<br>
<br>
<a href="/products">Keep Shopping</a>
