<h2>Cart {{cart._id}}</h2>

<ul>
    {{#each cart.productos}}
        <li>
            {{product.descripcion}} - Price: {{product.precio}} - quantity: {{quantity}}
        </li>
    {{/each}}
</ul>

<br>
<br>
<a href="/productos">Keep Shopping</a>