{{> menu}}
<hr>
<form action="/api/users/validateNewPassword/{{token}}" method="POST" class="container mt-4">
    <input  name="token" value="{{token}}">
    {{!-- type="hidden" --}}
    <div class="mb-3">
        <label for="password" class="form-label">New Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
